*{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body{
  padding: 60px;
  font-size: ;
  background: black;
}

input{
  font-size: 1.2rem;
  width: 100%;
  color: grey;

}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
  color: white;
}

.card img {
  max-height: 170px;
}